<h2>Items scrapped from the database</h2>
<ul>
  <li class="midlaner">Phone</li>
  <li class="midlaner">TV</li>
  <li class="toplaner">Woofer</li>
  <li class="midlaner">IPhone</li>
  <li class="toplaner">iMac</li>
</ul>